body{
background-image: url(ss/455.png);

}

li{

padding: 30px;

}
.navbar-brand{

    font-size: 50px !important;
    color: white !important;
}


.backgrund3{

    background-color: rgb(26, 26, 58);
}
.nav-link{
    font-size: 15px;
    color: white !important;
}
    
